@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Mobile First Styling */
h1 {
  font-size: 24px;
  text-align: center;
}

figure {
  width: 80%;
}

img {
  width: 100%;
}
figcaption {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 0.7em;
}

.App {
  width: 90%;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.contact {
  list-style-type: none;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

.show__button {
  background-color: #1d9c1d;
}

.hide__button {
  background-color: #c64033;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contacts__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4em;
    align-items: start;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contacts__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4em;
  }
}
